<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a routerLink="/products">
      <img src="assets/images/logo.png" alt="My Shop" class="img-responsive" />
    </a>
  </div>
  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <li *ngFor="let productCategory of productCategories">
          <a routerLink="category/{{productCategory.id}}/{{productCategory.categoryName}}" routerLinkActive="active-link">{{productCategory.categoryName}}</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
<!-- END MENU SIDEBAR-->
