<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a href="#">
      <img src="assets/images/logo.png" alt="My Shop" class="img-responsive" />
    </a>
  </div>
  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <li>
          <a routerLink="category/1" routerLinkActive="active-link">Books</a>
        </li>
        <li>
          <a routerLink="category/2" routerLinkActive="active-link">Coffee Mugs</a>
        </li>
        <li>
          <a routerLink="category/3" routerLinkActive="active-link">Mouse Pads</a>
        </li>
        <li>
          <a routerLink="category/4" routerLinkActive="active-link">Luggage Tags</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
<!-- END MENU SIDEBAR-->
